.h1{
    border: 1px;
    background-color: aqua;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.para{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
